.popup__submit-button {
    max-width: 358px;
    height: 50px;
    background: #000000;
    border-radius: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 48px 36px 37px 36px;
    cursor: pointer;
}

.popup__submit-button:hover {
    opacity: 0.8;
}

@media screen and (min-width: 320px) and (max-width: 650px) {
    .popup__submit-button {
        max-width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
        margin: 45px 22px 25px 22px;
    }
}