.popup__submit-button {
    max-width: 358px;
    height: 50px;
    background: #000000;
    border-radius: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    font-family: 'Inter', 'Arial', sans-serif;
    color: #FFFFFF;
    margin: 31.34px 36px 37px 36px;
    cursor: pointer;
    border: 0;
    transition: .3s leaner;
}
.popup__no-submit{
    border: 1px solid #000000;
    border-radius: 2px;
    background-color: white;
    opacity: .2;
    color: black;
    pointer-events: none;
}

.popup__submit-button:hover {
    opacity: 0.8;
}
.popup__submit-button_disabled {
    background: white;
    color: rgba(0, 0, 0, 1);
}

@media screen and (min-width: 320px) and (max-width: 650px) {
    .popup__submit-button {
        max-width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
        margin: 45px 22px 25px 22px;
    }
}