.profile__edit {
    display: flex;
    flex-direction: column;
    margin-left: 3.75px;
}

@media screen and (min-width: 320px) and (max-width: 380px) {
    .profile__edit {
        align-items: center;
    }
}
