.elements {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 20px;
    margin: 47.25px 200px 67px 200px;
 }
 
 @media screen and (min-width: 320px) and (max-width: 1000px) {
    .elements {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 36px auto 48px auto;
    }
}