.profile__edit-button {
    max-width: 24px;
    height: 24px;
    font-family: 'Inter', 'Arial', sans-serif;
    background: #000000;
    border: 1px solid #FFFFFF;
    border-radius: 1px;
    display: flex;
    margin-left: 18px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 5px;
}

.profile__edit-button:hover {
    opacity: 0.6;
 }


@media screen and (max-width: 320px) {
    .profile__edit-button {
       margin-left: 10px;
       max-width: 18px;
       height: 18px;
    }
}
