.profile__avatar {
    width: 168.75px;
    height: 127.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    margin-top: 36.25px;
}


@media screen and (max-width: 320px) {
    .profile__avatar {
        margin: 38.25px 72.75px 22.25px 78.5px;
    }
}
